.example-radio-button {
    margin-left: 7px;
    background: #fafafa;
}

mat-grid-tile {
    color: royalblue;
}

.width-50 {
    width: 49%;
}

.ml-1 {
    margin-left: 1%;
}

.ml-2 {
    margin-left: 2%;
}

.width-100 {
    width: 100%;
}

.width-25 {
    width: 25%;
}

.login {
    font-weight: 600;
    font-size: 1.4rem;
    color: #2e393e
}

.login-wrapper {
    max-width: 450px;
    min-height: 300px;
    margin: 40px auto;
    padding: 40px 30px 30px 30px;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff
}

.login-wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
}

.login-wrapper .form-field {
    border-radius: 20px;
}

.login-wrapper .btn {
    box-shadow: none;
    width: 100%;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    letter-spacing: 0.5px
}