<mat-grid-list cols="1" rowHeight="500px" class='signup-wrapper' fxlayout>
    <div class="signup"> Sign Up</div>
    <div class="example-container">
        <mat-form-field appearance="fill" class="width-50 form-field">
            <mat-label>First Name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" class="width-50 ml-2 form-field">
            <mat-label>Surname</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-100 form-field">
            <mat-label>Email address</mat-label>
            <input matInput placeholder="Ex. pat@example.com">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="width-100 form-field">
            <mat-label>Enter password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>
        <span class="width-100 form-field">
            <mat-label id="example-radio-group-label">Gender: &nbsp;&nbsp;</mat-label>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Male</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="2">Female</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="3">Custom</mat-radio-button>
            </mat-radio-group></span>
        <br><br>
        <mat-label class="form-field" id="example-radio-group-label">Date of birth: </mat-label>
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>select Birthdate</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button class="btn mt-3">Sign Up</button>
    </div>
    <!-- </mat-grid-tile> -->
</mat-grid-list>