<mat-card class='forgot-form-wrapper' fxlayout>
    <mat-card-content>
        <form #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-label class="forgot-text">Please Enter E-Mail</mat-label><br>
            <mat-form-field class="form-field ">
                <input matInput formControlName="username" placeholder="Provide E-mail or UserId" required>
                <mat-error>
                    Please provide a valid email address
                </mat-error>
            </mat-form-field>
            <button mat-raised-button class="btn" [disabled]="!f.valid">Send Verification Code</button>
        </form>
    </mat-card-content>
</mat-card>