/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: sans-serif;  background-color: #ecf0f3 !important; }

.mat-error {
    font-size: 1.9vh;
    color: red;
    font-family: serif;
}