<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #sideNav class="sidenav-drawer" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="sidenav-content">
    <app-top-nav [inputSideNav]="sideNav"></app-top-nav>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>