.sidenav-container{
    min-height: 91.7vh;
}

.sidenav-content{
    min-height:inherit;
}   

.mat-drawer {
    min-width: 15vw;
    background-color: #ecf0f3;
}

.center {
    margin: auto;
    width: 50%;
    padding: 256px 0px 285px 0px;
  }